header {
    position: fixed;
    top: 0; left: 5%;
}

.logo{
    color: white;
    font-family: courier, monospace;
    display: block;
    text-decoration: none;
}

.logo--media {
    background: black;
    padding: 0.6em 0.5em 0.6em 0.7em;
    display: inline-block;
}

.logo--queeries{
    padding: 0.6em 0.7em 0.6em 0.5em;
    display: inline-block;

    background: linear-gradient(270deg, #ff0000, #e2e343, #46de2a, #0059ff, #ff00ef);
    background-size: 1200% 1200%;

    -webkit-animation: RainbowMove 60s linear infinite;
    -moz-animation: RainbowMove 60s linear infinite;
    animation: RainbowMove 60s linear infinite;
}

.logo--big {
    display: none;
}

@-webkit-keyframes RainbowMove {
    0%{background-position:0% 0%}
    50%{background-position:100% 100%}
    100%{background-position:0% 0%}
}
@-moz-keyframes RainbowMove {
    0%{background-position:0% 0%}
    50%{background-position:100% 100%}
    100%{background-position:0% 0%}
}
@keyframes RainbowMove {
    0%{background-position:0% 0%}
    50%{background-position:100% 100%}
    100%{background-position:0% 0%}
}

/* --- End Header Section Stuff ---- */

body {
  font-size: 3vw;
  font-family: courier, monospace;
  margin: 0;
}

#title span {
    text-transform: uppercase;
    color: grey;
    font-size: 0.8em;
    display: inline;
    font-weight: normal;
    display: inline;
}

.wrap {
    padding: 0 5%;
}

.wrap--first {
    margin-top: 3.5em;
}

a {
  color: #2EAFAC;
}

.callout {
  border: 0.5em inset;
  padding: 1em;
}

/* --- Media queeri.es ---- */

@media only screen and (min-width: 900px) {
    .logo--big {
        display: inline;
    }
    body {
        font-size: 1.5em;
    }
    .logo {
      font-size: 0.8em;
    }
}
